# Environment variables
.env

# Ignore temporary Python files
*.pyc
*.pyo
*.pyd
__pycache__/
.ipynb_checkpoints/

# Ignore the virtual environment
venv/

# Ignore macOS system files
.DS_Store

# Ignore scratch.py
scratch.py